<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.RRS.Filters.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>com.RRS.Filters.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Add-Passengers.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/home.jsp</url-pattern>
        <url-pattern>/admin/station/*</url-pattern>
        <url-pattern>/admin/train/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchTrainsServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.SearchTrainsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateNewUserServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.AuthenticateNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPassengersServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.AddPassengersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PNRStatusServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.PNRStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.EmailVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPVerificationServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.OTPVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.StationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTrainServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.NewTrainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountActiveStatusServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.AccountActiveStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordVerificationServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.PasswordVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutFromEverywhereServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.LogoutFromEverywhereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentGatewayServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.PaymentGatewayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentVerifierServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.PaymentVerifierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APIResponseReceiverServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.APIResponseReceiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedCardPaymentInitServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.SavedCardPaymentInitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentInitializerServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.PaymentInitializerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTransactionCardPaymentInitServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.NewTransactionCardPaymentInitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundInitializerServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.RefundInitializerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentCardServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.AddPaymentCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeDirectory</servlet-name>
        <servlet-class>com.RRS.Servlets.AdminHomeDirectory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewStationServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.AddNewStationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationListServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.StationListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTrainTimeTableServlet</servlet-name>
        <servlet-class>com.RRS.Servlets.ViewTrainTimeTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchTrainsServlet</servlet-name>
        <url-pattern>/SearchTrainsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateNewUserServlet</servlet-name>
        <url-pattern>/AuthenticateNewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPassengersServlet</servlet-name>
        <url-pattern>/AddPassengersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PNRStatusServlet</servlet-name>
        <url-pattern>/PNRStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <url-pattern>/EmailVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPVerificationServlet</servlet-name>
        <url-pattern>/OTPVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationServlet</servlet-name>
        <url-pattern>/StationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTrainServlet</servlet-name>
        <url-pattern>/NewTrainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountActiveStatusServlet</servlet-name>
        <url-pattern>/AccountActiveStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordVerificationServlet</servlet-name>
        <url-pattern>/PasswordVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutFromEverywhereServlet</servlet-name>
        <url-pattern>/LogoutFromEverywhereServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/TicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentGatewayServlet</servlet-name>
        <url-pattern>/PaymentGatewayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentVerifierServlet</servlet-name>
        <url-pattern>/PaymentVerifierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APIResponseReceiverServlet</servlet-name>
        <url-pattern>/APIResponseReceiverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedCardPaymentInitServlet</servlet-name>
        <url-pattern>/SavedCardPaymentInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentInitializerServlet</servlet-name>
        <url-pattern>/PaymentInitializerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTransactionCardPaymentInitServlet</servlet-name>
        <url-pattern>/NewTransactionCardPaymentInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundInitializerServlet</servlet-name>
        <url-pattern>/RefundInitializerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentCardServlet</servlet-name>
        <url-pattern>/AddPaymentCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeDirectory</servlet-name>
        <url-pattern>/AdminHomeDirectory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewStationServlet</servlet-name>
        <url-pattern>/AddNewStationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationListServlet</servlet-name>
        <url-pattern>/StationListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTrainTimeTableServlet</servlet-name>
        <url-pattern>/ViewTrainTimeTableServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
